.Splash {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #444;
  color: white;
}

.SplashTitle {
  padding-bottom: 1rem;
}

.SplashTitle > img {
  height: 8rem;
}

.SplashSubtitle {
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

.SplashButton {
  display: inline-block;
  background-color: #e13835;
  color: white;
  font-weight: normal;
  font-size: 1.3rem;
  padding: 0.5rem 1.6rem;
}

.Features {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.FeaturesMain {
  display: flex;
  justify-content: space-between;
}

.Feature {
  position: relative;
  flex: 1 0 30%;
  text-align: center;
  padding: 2rem 2rem;
}

.Feature > h1 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.Feature:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 1rem;
  width: 1px;
  height: calc(100% - 2rem);
  background-color: #ccc;
}

.Details {
  font-size: 1.2rem;
  text-align: center;
  padding: 4rem 8rem;
}

.Details b {
  font-weight: 400;
}