.Splash {
  padding: 4rem 1rem;
  text-align: center;
  background-image: url("../../static/img/splash.png"); /* radial-gradient(circle, black 10%, #e13835 120%); */
  background-size: cover;
  background-position: 50%;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-color: #000;
  color: white;
}

.SplashTitle {
  padding-bottom: 1rem;
}

.SplashTitle > img {
  width: 16rem;
  max-width: 100%;
}

.buttons > * {
  padding: 0.5rem 1.6rem;
  margin: 0.4rem;
  color: white;
}

.SplashSubtitle {
  font-size: 2rem;
  padding-bottom: 2.5rem;
  text-shadow: 0px 2px 5px #000;
}

.Features {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.FeaturesMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Feature {
  position: relative;
  flex: 1 1 18rem;
  text-align: center;
  padding: 2rem 2rem;
}

@media (max-width: 56rem) {
  .FeaturesMain {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .Feature {
    flex-grow: 0;
    flex-basis: auto;
  }
}

.Feature > h1 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media (min-width: 56rem) {
  .Feature:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 1rem;
    width: 1px;
    height: calc(100% - 2rem);
    background-color: #ccc;
  }
}

.DetailsContainer {
  border-bottom: 1px solid #ccc;
}

.Details {
  font-size: 1.2rem;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.Details b {
  font-weight: 400;
}

.Users {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.UsersTitle {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

.UsersTitle > b {
  font-weight: 700;
}

.UserWall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.User {
  display: flex;
  margin: 1rem;
  max-width: 100%;
  flex: 0 0 15rem;
  align-items: center;
}

.User img {
  display: flex;
  max-width: 100%;
}

.UsersCta {
  text-align: center;
}

.UsersCta a {
  font-weight: 400;
  color: #e13835;
}