.NavItem {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.Nav {
  display: flex;
  align-content: stretch;
  flex: 1 0;
}

.Logo {
  display: flex;
  align-items: center;
  flex: 0 0;
  margin-right: 4rem;
}

.Logo img {
  height: 2rem;
}

.Header {
  background: #ccc;
}

.HeaderMain {
  display: flex;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}