* {
  font: inherit;
  color: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;

  color: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  font-kerning: normal;
  line-height: 1.4;
  word-wrap: break-word;
  min-height: 100%;
}

#___gatsby {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#___gatsby > div {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#___gatsby > div > * {
  width: 100%;
}